body {
  background-color: #111;
}
.container {
  background-image: url(./assets/backgorund.png);
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  width: 400px;
  height: 200px;
  margin: 30% auto;
  padding: 1px 20px;
}
a {
  text-decoration: none;
  color: black;
}
.github {
  list-style-image: url(./assets/github.png);
}
.linkedin {
  list-style-image: url(./assets/linkedin.png);
}
.facebook {
  list-style-image: url(./assets/facebook.png);
}
